*{
	font-family: 'Raleway', sans-serif;
}

body{
	margin: 0;
}

.index-container{
	width:100%;
	height: auto;
}

nav{
	background-color: #5c6bc0;
	padding: 40px;
	box-shadow: inset -15px -7px 10px 0 #3949ab;

}

h2{
	margin: 0;
	padding-left: 300px;
	font-weight: 500;
}
